{
    "SCRIPT_NAME_1": [
        {
            "args": [
                "ARGS",
                "FOR",
                "RUN",
                "1"
            ]
        },
        {
            "args": [
                "ARGS",
                "FOR",
                "RUN",
                "2"
            ]
        },
        {
            "args": [
                "ARGS",
                "FOR",
                "RUN",
                "3"
            ]
        }
    ],
    "SCRIPT_NAME_2": [
        {
            "args": [
                "ARGS",
                "FOR",
                "RUN",
                "1"
            ]
        },
        {
            "args": [
                "ARGS",
                "FOR",
                "RUN",
                "2"
            ]
        },
        {
            "args": [
                "ARGS",
                "FOR",
                "RUN",
                "3"
            ]
        }
    ]
}
