# Immich settings
IMMICH_HOST=http://immich_server:3001
IMMICH_API_KEY=CHANGE_ME

# Source settings
SOURCE_PATH_PICTURES=/media/pictures
SOURCE_PATH_VIDEOS=/media/videos

# Other settings
INCLUDED_DIRECTORIES=FINAL
INCLUDED_USERS=User
DELETE_ALL_ALBUMS=False
