# True for development, False for production
DEBUG=False

# App settings
IMMICH_HOST="http://immich_server:3001"
IMMICH_API_KEY="CHANGE_ME"
SOURCE_PATH_PICTURES="/media/pictures"
SOURCE_PATH_VIDEOS="/media/videos"
INCLUDED_DIRECTORIES="Dir1,Dir2"
INCLUDED_USERS="User1,User2"
DELETE_ALL_ALBUMS=False
