# True for development, False for production
DEBUG=False

# App settings
DATA_PATH="/data"

# Playwright settings
PLAYWRIGHT_DRIVER="ws://youtube-music_playwright:3000"
PLAYWRIGHT_RETRIES=3
PLAYWRIGHT_TIMEOUT=10000
